$blueColor: #0baff0;
$mainColor: #da1781;
$textColor: #4a4a4a;
$liteGreyColor: #c7c7c7;

body {
  border-top: 28px $blueColor solid;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 38px;
  &__header {
    font-size: 24px;
    font-weight: normal;
    color: $blueColor;
    padding: 24px 7px;
  }
  &__wrapper {
    display: flex;
  }
}

.blue {
  color: $blueColor;
}

.bold {
  font-weight: bold;
}

.content__aside {
  flex: 1 0 300px;
  border-radius: 3px;
  border: solid 1px #dfe0e4;
}

.aside {
  color: $textColor;
  padding: 20px 14px;
  &__text {
    font-size: 13px;
    line-height: 23px;
    padding: 18px 0;
  }
  &__title {
    position: relative;
    padding-bottom: 18px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #c6c6c6;
    }
  }
}

.info {
  margin: 0 20px 0 7px;
  width: calc(100% - 300px);
  &__btn {
    height: 32px;
    border-radius: 3px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 18px 30px;
    margin-top: 50px;
  }
}

.details {
  margin-bottom: 14px;
  &--active {
    border-radius: 4px;
    border: solid 1px $mainColor;
    .details__header {
      background-color: $mainColor;
      border: none;
    }
    .details__title {
      color: white;
    }
    .details__complete {
      background-color: #ba166f;
      &--active {
        background-color: #7ab55c;
      }
    }
    .details__open-btn {
      transform: rotate(180deg);
    }
    .details__arrow {
      color: white;
    }
  }
  &__header {
    padding: 16px;
    border-radius: 2px;
    border: solid 1px #dfe2e5;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $mainColor;
    font-weight: normal;
    font-size: 17px;
  }
  &__complete {
    height: 20px;
    width: 93px;
    color: white;
    border-radius: 2px;
    background-color: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    float: left;
    margin-right: 16px;
    &--active {
      background-color: #7ab55c;
    }
  }

  &__open-btn {
    background-color: transparent;
    border: none;
    outline: none;
    height: 20px;
    cursor: pointer;
    // &:hover .details__arrow {
    //   transform: rotate(90deg);
    // }
  }
  &__arrow {
    width: 16px;
    height: 16px;
    color: #9b9b9b;
    transition: rotate(90deg) 0.3s;
  }
  &__buttons {
    padding: 20px;
    text-align: right;
  }
  &__btn {
    height: 36px;
    border-radius: 4px;
    &:first-child {
      margin-right: 16px;
    }
  }
}

.btn {
  width: 140px;
  font-size: 14px;
  font-weight: 600;
  color: #c6c6c6;
  border: solid 1px #c6c6c6;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
  &--dark {
    background-color: $liteGreyColor;
    color: white;
  }
  &:hover,
  &:active {
    color: white;
    border: 1 px solid $mainColor;
    background-color: $mainColor;
  }
}
.active {
  color: white;
  border: 1 px solid $mainColor;
  background-color: $mainColor;
}

.select {
  display: flex;
  margin-right: -20px;
  &__input {
    border-radius: 4px;
    border: solid 1px #ced0da;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    padding: 8px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline-color: $blueColor;
    padding-right: 50px;
    margin-bottom: 10px;

    &--width {
      width: 110px;
      height: 3.8em;

      + img.select__arrow {
        height: 3.2em;
      }
    }
  }

  &__arrow {
    display: inline-block;
    border-left: 1px solid #ced0da;
    width: 20px;
    height: 36px;
    padding-left: 10px;
    vertical-align: middle;
    transform: translateX(-30px);
    pointer-events: none;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5px;
  padding-bottom: 10px;
  &__title {
    color: #9b9b9b;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__card {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    & + img {
      cursor: pointer;
      margin-right: 5px;
    }
    &:checked + img {
      outline: 2px solid $mainColor;
    }
  }
}

.charge {
  padding: 20px;
  &__text {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
  }
}

.form {
  &__title {
    font-weight: bold;
    padding: 30px 0;
  }
  &__input {
    border: solid 1px #c6c6c6;
    padding: 14px;
    border-radius: 4px;
    margin-bottom: 10px;
    &--large {
      width: 100%;
    }
    &--cvv {
      width: 90px;
    }
  }
  &__label {
    color: #9b9b9b;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  &__card-number {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1040px) {
  .form__card-number {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 850px) and (min-width: 700px) {
  .page {
    padding: 0 20px;
  }
  .content__aside {
    flex: 1 0 200px;
  }
  .info {
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 700px) {
  .page {
    padding: 0 20px;
    &__wrapper {
      flex-wrap: wrap;
    }
  }
  .info {
    margin: 20px 0 0 0;
    width: 100%;
    order: 1;
  }
}

@media only screen and (max-width: 490px) {
  body {
    font-size: 14px;
  }
  .page__header h1 {
    font-size: 20px;
  }
  .content__aside {
    flex: 1 0 250px;
  }
  .details {
    &__header,
    .cards {
      flex-wrap: wrap;
    }
    &__title {
      font-size: 16px;
      padding-bottom: 10px;
    }
    &__buttons {
      text-align: justify;
    }
  }
  .info__footer,
  .form__title {
    padding: 10px 0;
  }
  .form__input--cvv {
    width: 100%;
  }
  .select__input {
    width: 100%;
  }
  .btn {
    width: 100px;
  }
  .form__label {
    padding-top: 10px;
  }
  .select__input--width {
    width: 200px;
    height: 3.2em;
  }
}
