*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
a,
input,
select {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
